*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    -webkit-text-size-adjust : 100%;
    text-size-adjust         : 100%
}

.header{
    background-color: rgb(224, 73, 39);
    max-width: 1920px;
    margin: 0 auto;
    .container{
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        column-gap: 100px;
        justify-content:center;
        align-items: center;
        padding: 10px 0;
        .mobile-header{
            display: none;
        }
        nav{
            display: flex;
            column-gap: 90px;
            justify-content: space-between;
            align-items: center;
            letter-spacing: 1px;
            a{
                text-decoration: none;
                color: white;
                font-size: 16px;
                padding: 8px;
                &:hover{
                    background-color: rgb(177, 56, 28);
                }
                &:last-child{
                    width: max-content;
                    margin-right: 0;
                }
            }
        }
        .logo{
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
            width: 101%;
            padding: 13px 20px;
            display: flex;
            justify-content: flex-end;
            background-color: rgb(177, 56, 28);
            a{
                font-family: Antonio;
                text-decoration: none;
                color: white;
                font-weight: bold;
                font-size: 22px;
                display: flex;
                align-items: center;
                img{
                    margin-right: 10px;
                }
            }
        }
    
        .header_right{
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
            background-color: rgb(177, 56, 28);
            padding: 15px;
            padding-left: 25px;
            width: 101%;
            .icons{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                .language {
                    width: 35px;
                    height: 35px;
                    border: none;
                    background: url('../assets/images/icons/earth.png') center center no-repeat content-box;
                    background-size: 35px;
                    margin-right: 50px;
                }
                .logIn{
                    width: 35px;
                    height: 35px;
                    border: none;
                    background: url('../assets/images/icons/logIn.png') center center no-repeat content-box;
                    background-size: 35px;
                }
            }
            .burger_btns{
                display: none;
            }
        }
    }
}

footer{
    max-width: 1920px;
    margin: 0 auto; 
    .container{
        display: flex;
        justify-content: center;
        background-color: rgb(177, 56, 28);
        padding: 50px 0;
        nav{
            display: flex;
            flex-direction: column;
            max-width: max-content;
            align-items:last baseline ;
            justify-content: center;
            margin-right: 190px;
            a{
                text-decoration: none;
                color: white;
                font-size: 16px;
                padding: 12px;
                &:hover{
                    background-color: rgb(224, 73, 39);
                }
            }
        }
        .logo{
            max-width: max-content;
            margin-right: 425px;
            a{
                font-family: Antonio;
                text-decoration: none;
                color: white;
                font-weight: bold;
                font-size: 22px;
                display: flex;
                align-items: center;
                img{
                    margin-right: 10px;
                }
            }
        }
        .contacts{
            display: flex;
            flex-direction: column;
            max-width: max-content;
            margin-right: 60px;
            a{
                text-decoration: none;
                color: white;
                font-size: 16px;
                padding: 12px;
            }
        }
    }
}

@media (max-width: 1440px) {
    .header{
        .container{
            column-gap: 75px;
            padding: 7px 0;
            nav{
                column-gap: 65px;
                a{
                    font-size: 14px;
                }
            }
            .logo{
                padding: 10px;
                padding-right: 18px;
                a{
                    font-size: 20px;
                    img{
                        width: 35px;
                        height: 35px;
                    }
                }
            }
        
            .header_right{
                padding: 12px;
                padding-left: 20px;
                .icons{
                    .language {
                        background-size: 32px;
                        width: 32px;
                        height: 32px; 
                    }
                    .logIn{
                        background-size: 32px;
                        width: 32px;
                        height: 32px; 
                    }
                }
            }
        }
    }
    
    footer{
        .container{
            padding: 25px 0;
            nav{
                margin-right: 160px;
                a{
                    font-size: 14px;
                    padding: 7px;
                }
            }
            .logo{
                margin-right: 380px;
                a{
                    font-size: 20px;
                }
            }
            .contacts{
                margin-right: 40px;
                a{
                    font-size: 14px;
                    padding: 7px;
                }
            }
        }
    }
}

@media (max-width: 1280px) {
    .header{
        .container{
            column-gap: 70px;
            padding: 7px 0;
            nav{
                column-gap: 50px;
                a{
                    font-size: 12px;
                }
            }
            .logo{
                padding: 8px;
                padding-right: 18px;
                a{
                    font-size: 20px;
                    img{
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        
            .header_right{
                padding: 10px;
                padding-left: 20px;
                .icons{
                    .language{
                        background-size: 30px;
                        width: 30px;
                        height: 30px; 
                    }
                    .logIn{
                        background-size: 30px;
                        width: 30px;
                        height: 30px; 
                    }
                }
            }
        }
    }
    
    footer{
        .container{
            padding: 25px 0;
            nav{
                margin-right: 160px;
                a{
                    font-size: 12px;
                    padding: 7px;
                }
            }
            .logo{
                margin-right: 310px;
                a{
                    font-size: 20px;
                }
            }
            .contacts{
                margin-right: 40px;
                a{
                    font-size: 12px;
                    padding: 7px;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .header{
        .container{
            column-gap: 50px;
            padding: 7px 0;
            nav{
                column-gap: 40px;
                a{
                    font-size: 10px;
                }
            }
            .logo{
                padding: 8px 18px 8px 0;
                a{
                    font-size: 15px;
                    img{
                        width: 25px;
                        height: 25px;
                    }
                }
            }
        
            .header_right{
                padding: 10px;
                padding-left: 15px;
                .icons{
                    .language{
                        background-size: 25px;
                        width: 25px;
                        height: 25px; 
                    }
                    .logIn{
                        background-size: 25px;
                        width: 25px;
                        height: 25px; 
                    }
                }
            }
        }
    }
    
    footer{
        .container{
            padding: 20px 0;
            nav{
                margin-right: 100px;
                a{
                    font-size: 10px;
                    padding: 5px;
                }
            }
            .logo{
                margin-right: 250px;
                a{
                    font-size: 15px;
                    img{
                        width: 25px;
                        height: 25px;
                    }
                }
            }
            .contacts{
                margin-right: 80px;
                a{
                    font-size: 10px;
                    padding: 5px;
                }
            }
        }
    }
}

@media (max-width: 900px) {
    .header{
        .container{
            padding: 5px 0;
            column-gap: 50px;
            nav{
                column-gap: 40px;
                a{
                    margin-right: 0;
                    font-size: 10px;
                    &:last-child{
                        width: max-content;
                    }
                }
            }
            .logo{
                padding: 7px 20px 7px 0;
                a{
                    font-size: 15px;
                    img{
                        width: 25px;
                        height: 25px;
                    }
                }
            }
        
            .header_right{
                padding: 10px 10px 10px 15px;
                .icons{
                    .language{
                        background-size: 23px;
                        width: 23px;
                        height: 23px; 
                        margin-right: 30px;

                    }
                    .logIn{
                        background-size: 23px;
                        width: 23px;
                        height: 23px; 
                    }
                }
            }
        }
    }
    
    footer{
        .container{
            padding: 25px 10%;
            nav{
                margin-right: 100px;
                a{
                    font-size: 10px;
                    padding: 5px;
                }
            }
            .logo{
                margin-right: 250px;
                a{
                    font-size: 15px;
                    img{
                        width: 25px;
                        height: 25px;
                    }
                }
            }
            .contacts{
                margin-right: 80px;
                a{
                    font-size: 10px;
                    padding: 5px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .header{
        .container{
            display:block;
            margin: 0 auto;
            padding: 5px 0;
            column-gap: 0;
            .head-nav{
                display: none;
            }
            .logo{
                display: none;
            }
            .header_right{
                display: none;
            }

            .mobile-header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0 auto;
                
                .mobile-logo{
                    border-top-right-radius: 50px;
                    border-bottom-right-radius: 50px;
                    padding: 5px 20px;
                    background-color: rgb(177, 56, 28);
                    a{
                        img{
                            vertical-align: middle;
                            width: 28px;
                            height: 28px;
                        }
                    }
                }
                .brand{
                    font-family: Antonio;
                    color: white;
                    font-size: 20px;
                }
                .burger_btns{
                    border-top-left-radius: 50px;
                    border-bottom-left-radius: 50px;
                    background-color: rgb(177, 56, 28);
                    padding: 7px 20px;
                    position: relative;
                    
                    .mobile-nav{
                        border-top-left-radius: 50px;
                        border-bottom-left-radius: 50px;
                        font-family: Antonio;
                        flex-direction: column;
                        position: absolute;
                        right: 0;
                        top:0;
                        z-index: 5;
                        background-color: rgb(177, 56, 28);
                        align-items: flex-start;
                        padding: 20px;
                        padding-top: 40px;
                        a{
                            font-size: 15px;
                        }
                        .icons{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin: 0px auto ;
                            margin-top: 30px;
                            .language {
                                width: 25px;
                                height: 25px;
                                border: none;
                                background: url('../assets/images/icons/earth.png') center center no-repeat content-box;
                                background-size: 25px;
                                margin-right: 20px;
                            }
                            .logIn{
                                width: 25px;
                                height: 25px;
                                border: none;
                                background: url('../assets/images/icons/logIn.png') center center no-repeat content-box;
                                background-size: 25px;
                            }
                        }
                    }
                    .open-menu{
                        vertical-align: middle;
                        border: none;
                        width: 25px;
                        height: 25px;
                        background: url("../assets/images/icons/burger.png") center center no-repeat;
                        background-size: 25px;
                        
                    }
                    .close-menu{
                        vertical-align: middle;
                        border: none;
                        width: 25px;
                        height: 25px;
                        background: url("../assets/images/icons/close_btn.png") center center no-repeat;
                        background-size: 25px;
                        position:relative ;
                        z-index: 10;
                    }
                }
            }
            
        }
    }
    
    footer{
        .container{
            justify-content: space-between;
            padding: 20px;
            nav{
                margin: 0;

                a{
                    font-size: 9px;
                    padding: 5px;
                }
            }
            .logo{
                margin-right: 0;
                a{
                    font-size: 12px;
                    img{
                        width: 25px;
                        height: 25px;
                    }
                }
            }
            .contacts{
                margin-right: 0;
                a{
                    font-size: 9px;
                    padding: 5px;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .header{
        .container{
            display:block;
            margin: 0 auto;
            padding: 5px 0;
            column-gap: 0;
            .head-nav{
                display: none;
            }
            .logo{
                display: none;
            }
            .header_right{
                display: none;
            }

            .mobile-header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0 auto;
                
                .mobile-logo{
                    border-top-right-radius: 50px;
                    border-bottom-right-radius: 50px;
                    padding: 5px 20px;
                    background-color: rgb(177, 56, 28);
                    a{
                        img{
                            vertical-align: middle;
                            width: 25px;
                            height: 25px;
                        }
                    }
                }
                .brand{
                    font-family: Antonio;
                    color: white;
                    font-size: 18px;
                }
                .burger_btns{
                    border-top-left-radius: 50px;
                    border-bottom-left-radius: 50px;
                    background-color: rgb(177, 56, 28);
                    padding: 7px 20px;
                    position: relative;
                    
                    .mobile-nav{
                        border-top-left-radius: 50px;
                        border-bottom-left-radius: 50px;
                        font-family: Antonio;
                        flex-direction: column;
                        position: absolute;
                        right: 0;
                        top:0;
                        z-index: 5;
                        background-color: rgb(177, 56, 28);
                        align-items: flex-start;
                        padding: 20px;
                        padding-top: 40px;
                        a{
                            font-size: 15px;
                        }
                        .icons{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin: 0px auto ;
                            margin-top: 30px;
                            .language {
                                width: 25px;
                                height: 25px;
                                border: none;
                                background: url('../assets/images/icons/earth.png') center center no-repeat content-box;
                                background-size: 25px;
                                margin-right: 20px;
                            }
                            .logIn{
                                width: 25px;
                                height: 25px;
                                border: none;
                                background: url('../assets/images/icons/logIn.png') center center no-repeat content-box;
                                background-size: 25px;
                            }
                        }
                    }
                    .open-menu{
                        vertical-align: middle;
                        border: none;
                        width: 22px;
                        height: 22px;
                        background: url("../assets/images/icons/burger.png") center center no-repeat;
                        background-size: 23px;
                    }
                    .close-menu{
                        vertical-align: middle;
                        border: none;
                        width: 22px;
                        height: 22px;
                        background: url("../assets/images/icons/close_btn.png") center center no-repeat;
                        background-size: 23px;
                        position:relative ;
                        z-index: 10;
                    }
                }
            }
            
        }
    }
    
    footer{
        .container{
            justify-content: space-between;
            padding: 18px;
            nav{
                margin: 0;

                a{
                    font-size: 8px;
                    padding: 4px;
                }
            }
            .logo{
                margin-right: 0;
                a{
                    font-size: 12px;
                    img{
                        width: 25px;
                        height: 25px;
                    }
                }
            }
            .contacts{
                margin-right: 0;
                a{
                    font-size: 8px;
                    padding: 4px;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .header{
        .container{
            display:block;
            margin: 0 auto;
            padding: 10px 0;
            column-gap: 0;
            .head-nav{
                display: none;
            }
            .logo{
                display: none;
            }
            .header_right{
                display: none;
            }

            .mobile-header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0 auto;
                
                .mobile-logo{
                    border-top-right-radius: 50px;
                    border-bottom-right-radius: 50px;
                    padding: 10px 20px;
                    background-color: rgb(177, 56, 28);
                    a{
                        img{
                            vertical-align: middle;
                            width: 30px;
                            height: 30px;
                        }
                    }
                }
                .brand{
                    font-family: Antonio;
                    color: white;
                    font-size: 24px;
                }
                .burger_btns{
                    border-top-left-radius: 50px;
                    border-bottom-left-radius: 50px;
                    background-color: rgb(177, 56, 28);
                    padding: 10px 20px;
                    position: relative;
                    
                    .mobile-nav{
                        border-top-left-radius: 50px;
                        border-bottom-left-radius: 50px;
                        font-family: Antonio;
                        flex-direction: column;
                        position: absolute;
                        right: 0;
                        top:0;
                        z-index: 5;
                        background-color: rgb(177, 56, 28);
                        align-items: flex-start;
                        padding: 20px;
                        padding-top: 40px;
                        a{
                            font-size: 15px;
                        }
                        .icons{
                            // display: flex;
                            // justify-content: flex-start;
                            // align-items: flex-start;
                            // margin: 0px auto ;
                            margin-top: 30px;
                            .language {
                                width: 25px;
                                height: 25px;
                                border: none;
                                background: url('../assets/images/icons/earth.png') center center no-repeat content-box;
                                background-size: 25px;
                                margin-right: 20px;
                            }
                            .logIn{
                                width: 25px;
                                height: 25px;
                                border: none;
                                background: url('../assets/images/icons/logIn.png') center center no-repeat content-box;
                                background-size: 25px;
                            }
                        }
                    }
                    .open-menu{
                        vertical-align: middle;
                        border: none;
                        width: 30px;
                        height: 30px;
                        background: url("../assets/images/icons/burger.png") center center no-repeat;
                        background-size: 28px;
                    }
                    .close-menu{    
                        vertical-align: middle;
                        border: none;
                        width: 30px;
                        height: 30px;
                        background: url("../assets/images/icons/close_btn.png") center center no-repeat;
                        background-size: 28px;
                        position:relative ;
                        z-index: 10;
                    }
                }
            }
            
        }
    }
    
    footer{
        .container{
            flex-direction: column;
            justify-content: space-between;
            padding: 18px;
            nav{
                margin: 20px 0;
                justify-content: flex-start;
                a{
                    font-size: 12px;
                    padding: 4px;
                }
            }
            .logo{
                margin-right: 0;
                a{
                    font-size: 16px;
                    img{
                        width: 35px;
                        height: 35px;
                    }
                }
            }
            .contacts{
                margin-right: 0;
                a{
                    font-size: 12px;
                    padding: 4px;
                }
            }
        }
    }
}