* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: rgb(224, 73, 39);
  max-width: 1920px;
}
.header .container {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
.header .container nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 110px;
  margin-right: 60px;
  max-width: -moz-max-content;
  max-width: max-content;
}
.header .container nav a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 8px;
  margin-right: 80px;
}
.header .container nav a:hover {
  background-color: rgb(177, 56, 28);
}
.header .container nav a:last-child {
  margin-right: 40px;
}
.header .container .logo {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 10px 20px 10px 17.5%;
  background-color: rgb(177, 56, 28);
}
.header .container .logo a {
  font-family: Antonio;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 22px;
  display: flex;
  align-items: center;
}
.header .container .logo a img {
  margin-right: 10px;
}
.header .container .header_right {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: rgb(177, 56, 28);
  padding: 10px;
  padding-left: 25px;
  flex-grow: 1;
}
.header .container .header_right .icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header .container .header_right .icons a img {
  vertical-align: middle;
}
.header .container .header_right .icons a:first-child {
  margin-right: 50px;
}

footer {
  max-width: 1920px;
}
footer .container {
  max-width: 1920px;
  display: flex;
  justify-content: flex-start;
  background-color: rgb(177, 56, 28);
  padding: 50px 17%;
}
footer .container nav {
  display: flex;
  flex-direction: column;
  max-width: -moz-max-content;
  max-width: max-content;
  flex-grow: 3;
  align-items: last baseline;
  justify-content: center;
  margin-right: 150px;
}
footer .container nav a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 12px;
}
footer .container nav a:hover {
  background-color: rgb(224, 73, 39);
}
footer .container .logo {
  max-width: -moz-max-content;
  max-width: max-content;
  flex-grow: 1;
  margin-right: 420px;
}
footer .container .logo a {
  font-family: Antonio;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 22px;
  display: flex;
  align-items: center;
}
footer .container .logo a img {
  margin-right: 10px;
}
footer .container .contacts {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: -moz-max-content;
  max-width: max-content;
}
footer .container .contacts a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 12px;
}

@media (max-width: 1440px) {
  .header .container nav {
    margin-left: 80px;
    margin-right: 50px;
  }
  .header .container nav a {
    margin-right: 70px;
    font-size: 14px;
  }
  .header .container .logo {
    padding: 10px 20px 10px 15%;
  }
  .header .container .logo a {
    font-size: 20px;
  }
  .header .container .logo a img {
    width: 35px;
    height: 35px;
  }
  .header .container .header_right .icons a img {
    width: 30px;
    height: 30px;
  }
  footer .container {
    padding: 30px 15%;
  }
  footer .container nav a {
    font-size: 14px;
    padding: 9px;
  }
  footer .container .logo a {
    font-size: 20px;
  }
  footer .container .contacts a {
    font-size: 14px;
    padding: 9px;
  }
}
@media (max-width: 1280px) {
  .header .container nav {
    margin-left: 60px;
    margin-right: 50px;
  }
  .header .container nav a {
    margin-right: 60px;
    font-size: 12px;
  }
  .header .container .logo {
    padding: 7px 20px 7px 14%;
  }
  .header .container .logo a {
    font-size: 18px;
  }
  .header .container .logo a img {
    width: 33px;
    height: 33px;
  }
  .header .container .header_right {
    padding: 7px 7px 7px 20px;
  }
  .header .container .header_right .icons a:first-child {
    margin-right: 35px;
  }
  .header .container .header_right .icons a img {
    width: 28px;
    height: 28px;
  }
  footer .container {
    padding: 30px 14%;
  }
  footer .container nav a {
    font-size: 12px;
    padding: 9px;
  }
  footer .container .logo a {
    font-size: 18px;
  }
  footer .container .contacts a {
    font-size: 12px;
    padding: 9px;
  }
}
@media (max-width: 1024px) {
  .header .container {
    padding: 7px 0;
  }
  .header .container nav {
    margin-left: 60px;
    margin-right: 40px;
  }
  .header .container nav a {
    margin-right: 40px;
    font-size: 12px;
  }
  .header .container .logo {
    padding: 7px 20px 7px 10%;
  }
  .header .container .logo a {
    font-size: 16px;
  }
  .header .container .logo a img {
    width: 28px;
    height: 28px;
  }
  .header .container .header_right {
    padding: 8px 7px 8px 20px;
  }
  .header .container .header_right .icons a img {
    width: 25px;
    height: 25px;
  }
  footer .container {
    justify-content: space-between;
    padding: 25px 10%;
  }
  footer .container nav a {
    font-size: 12px;
    padding: 9px;
  }
  footer .container .logo {
    margin-right: 220px;
  }
  footer .container .logo a {
    font-size: 16px;
  }
  footer .container .logo a img {
    width: 30px;
    height: 30px;
  }
  footer .container .contacts a {
    font-size: 12px;
    padding: 9px;
  }
}
@media (max-width: 768px) {
  .header .container {
    padding: 5px 0;
  }
  .header .container nav {
    margin-left: 50px;
    margin-right: 30px;
  }
  .header .container nav a {
    margin-right: 30px;
    font-size: 10px;
  }
  .header .container .logo {
    padding: 5px 15px 5px 8%;
  }
  .header .container .logo a {
    font-size: 14px;
  }
  .header .container .logo a img {
    width: 25px;
    height: 25px;
  }
  .header .container .header_right {
    padding: 7px 6px 7px 18px;
  }
  .header .container .header_right .icons a img {
    width: 22px;
    height: 22px;
  }
  footer .container {
    justify-content: space-between;
    padding: 10px 8%;
  }
  footer .container nav {
    margin: 0;
  }
  footer .container nav a {
    font-size: 10px;
    padding: 5px;
  }
  footer .container .logo {
    margin-right: 100px;
  }
  footer .container .logo a {
    font-size: 14px;
  }
  footer .container .logo a img {
    width: 25px;
    height: 25px;
  }
  footer .container .contacts {
    margin-right: 100px;
  }
  footer .container .contacts a {
    font-size: 10px;
    padding: 5px;
  }
}/*# sourceMappingURL=app.component.css.map */