* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
}

.header {
  background-color: rgb(224, 73, 39);
  max-width: 1920px;
  margin: 0 auto;
}
.header .container {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  -moz-column-gap: 100px;
       column-gap: 100px;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
.header .container .mobile-header {
  display: none;
}
.header .container nav {
  display: flex;
  -moz-column-gap: 90px;
       column-gap: 90px;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 1px;
}
.header .container nav a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 8px;
}
.header .container nav a:hover {
  background-color: rgb(177, 56, 28);
}
.header .container nav a:last-child {
  width: -moz-max-content;
  width: max-content;
  margin-right: 0;
}
.header .container .logo {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 101%;
  padding: 13px 20px;
  display: flex;
  justify-content: flex-end;
  background-color: rgb(177, 56, 28);
}
.header .container .logo a {
  font-family: Antonio;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 22px;
  display: flex;
  align-items: center;
}
.header .container .logo a img {
  margin-right: 10px;
}
.header .container .header_right {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: rgb(177, 56, 28);
  padding: 15px;
  padding-left: 25px;
  width: 101%;
}
.header .container .header_right .icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header .container .header_right .icons .language {
  width: 35px;
  height: 35px;
  border: none;
  background: url("../assets/images/icons/earth.png") center center no-repeat content-box;
  background-size: 35px;
  margin-right: 50px;
}
.header .container .header_right .icons .logIn {
  width: 35px;
  height: 35px;
  border: none;
  background: url("../assets/images/icons/logIn.png") center center no-repeat content-box;
  background-size: 35px;
}
.header .container .header_right .burger_btns {
  display: none;
}

footer {
  max-width: 1920px;
  margin: 0 auto;
}
footer .container {
  display: flex;
  justify-content: center;
  background-color: rgb(177, 56, 28);
  padding: 50px 0;
}
footer .container nav {
  display: flex;
  flex-direction: column;
  max-width: -moz-max-content;
  max-width: max-content;
  align-items: last baseline;
  justify-content: center;
  margin-right: 190px;
}
footer .container nav a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 12px;
}
footer .container nav a:hover {
  background-color: rgb(224, 73, 39);
}
footer .container .logo {
  max-width: -moz-max-content;
  max-width: max-content;
  margin-right: 425px;
}
footer .container .logo a {
  font-family: Antonio;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 22px;
  display: flex;
  align-items: center;
}
footer .container .logo a img {
  margin-right: 10px;
}
footer .container .contacts {
  display: flex;
  flex-direction: column;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-right: 60px;
}
footer .container .contacts a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 12px;
}

@media (max-width: 1440px) {
  .header .container {
    -moz-column-gap: 75px;
         column-gap: 75px;
    padding: 7px 0;
  }
  .header .container nav {
    -moz-column-gap: 65px;
         column-gap: 65px;
  }
  .header .container nav a {
    font-size: 14px;
  }
  .header .container .logo {
    padding: 10px;
    padding-right: 18px;
  }
  .header .container .logo a {
    font-size: 20px;
  }
  .header .container .logo a img {
    width: 35px;
    height: 35px;
  }
  .header .container .header_right {
    padding: 12px;
    padding-left: 20px;
  }
  .header .container .header_right .icons .language {
    background-size: 32px;
    width: 32px;
    height: 32px;
  }
  .header .container .header_right .icons .logIn {
    background-size: 32px;
    width: 32px;
    height: 32px;
  }
  footer .container {
    padding: 25px 0;
  }
  footer .container nav {
    margin-right: 160px;
  }
  footer .container nav a {
    font-size: 14px;
    padding: 7px;
  }
  footer .container .logo {
    margin-right: 380px;
  }
  footer .container .logo a {
    font-size: 20px;
  }
  footer .container .contacts {
    margin-right: 40px;
  }
  footer .container .contacts a {
    font-size: 14px;
    padding: 7px;
  }
}
@media (max-width: 1280px) {
  .header .container {
    -moz-column-gap: 70px;
         column-gap: 70px;
    padding: 7px 0;
  }
  .header .container nav {
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
  .header .container nav a {
    font-size: 12px;
  }
  .header .container .logo {
    padding: 8px;
    padding-right: 18px;
  }
  .header .container .logo a {
    font-size: 20px;
  }
  .header .container .logo a img {
    width: 30px;
    height: 30px;
  }
  .header .container .header_right {
    padding: 10px;
    padding-left: 20px;
  }
  .header .container .header_right .icons .language {
    background-size: 30px;
    width: 30px;
    height: 30px;
  }
  .header .container .header_right .icons .logIn {
    background-size: 30px;
    width: 30px;
    height: 30px;
  }
  footer .container {
    padding: 25px 0;
  }
  footer .container nav {
    margin-right: 160px;
  }
  footer .container nav a {
    font-size: 12px;
    padding: 7px;
  }
  footer .container .logo {
    margin-right: 310px;
  }
  footer .container .logo a {
    font-size: 20px;
  }
  footer .container .contacts {
    margin-right: 40px;
  }
  footer .container .contacts a {
    font-size: 12px;
    padding: 7px;
  }
}
@media (max-width: 1024px) {
  .header .container {
    -moz-column-gap: 50px;
         column-gap: 50px;
    padding: 7px 0;
  }
  .header .container nav {
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
  .header .container nav a {
    font-size: 10px;
  }
  .header .container .logo {
    padding: 8px 18px 8px 0;
  }
  .header .container .logo a {
    font-size: 15px;
  }
  .header .container .logo a img {
    width: 25px;
    height: 25px;
  }
  .header .container .header_right {
    padding: 10px;
    padding-left: 15px;
  }
  .header .container .header_right .icons .language {
    background-size: 25px;
    width: 25px;
    height: 25px;
  }
  .header .container .header_right .icons .logIn {
    background-size: 25px;
    width: 25px;
    height: 25px;
  }
  footer .container {
    padding: 20px 0;
  }
  footer .container nav {
    margin-right: 100px;
  }
  footer .container nav a {
    font-size: 10px;
    padding: 5px;
  }
  footer .container .logo {
    margin-right: 250px;
  }
  footer .container .logo a {
    font-size: 15px;
  }
  footer .container .logo a img {
    width: 25px;
    height: 25px;
  }
  footer .container .contacts {
    margin-right: 80px;
  }
  footer .container .contacts a {
    font-size: 10px;
    padding: 5px;
  }
}
@media (max-width: 900px) {
  .header .container {
    padding: 5px 0;
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
  .header .container nav {
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
  .header .container nav a {
    margin-right: 0;
    font-size: 10px;
  }
  .header .container nav a:last-child {
    width: -moz-max-content;
    width: max-content;
  }
  .header .container .logo {
    padding: 7px 20px 7px 0;
  }
  .header .container .logo a {
    font-size: 15px;
  }
  .header .container .logo a img {
    width: 25px;
    height: 25px;
  }
  .header .container .header_right {
    padding: 10px 10px 10px 15px;
  }
  .header .container .header_right .icons .language {
    background-size: 23px;
    width: 23px;
    height: 23px;
    margin-right: 30px;
  }
  .header .container .header_right .icons .logIn {
    background-size: 23px;
    width: 23px;
    height: 23px;
  }
  footer .container {
    padding: 25px 10%;
  }
  footer .container nav {
    margin-right: 100px;
  }
  footer .container nav a {
    font-size: 10px;
    padding: 5px;
  }
  footer .container .logo {
    margin-right: 250px;
  }
  footer .container .logo a {
    font-size: 15px;
  }
  footer .container .logo a img {
    width: 25px;
    height: 25px;
  }
  footer .container .contacts {
    margin-right: 80px;
  }
  footer .container .contacts a {
    font-size: 10px;
    padding: 5px;
  }
}
@media (max-width: 768px) {
  .header .container {
    display: block;
    margin: 0 auto;
    padding: 5px 0;
    -moz-column-gap: 0;
         column-gap: 0;
  }
  .header .container .head-nav {
    display: none;
  }
  .header .container .logo {
    display: none;
  }
  .header .container .header_right {
    display: none;
  }
  .header .container .mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
  .header .container .mobile-header .mobile-logo {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 5px 20px;
    background-color: rgb(177, 56, 28);
  }
  .header .container .mobile-header .mobile-logo a img {
    vertical-align: middle;
    width: 28px;
    height: 28px;
  }
  .header .container .mobile-header .brand {
    font-family: Antonio;
    color: white;
    font-size: 20px;
  }
  .header .container .mobile-header .burger_btns {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: rgb(177, 56, 28);
    padding: 7px 20px;
    position: relative;
  }
  .header .container .mobile-header .burger_btns .mobile-nav {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    font-family: Antonio;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
    background-color: rgb(177, 56, 28);
    align-items: flex-start;
    padding: 20px;
    padding-top: 40px;
  }
  .header .container .mobile-header .burger_btns .mobile-nav a {
    font-size: 15px;
  }
  .header .container .mobile-header .burger_btns .mobile-nav .icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    margin-top: 30px;
  }
  .header .container .mobile-header .burger_btns .mobile-nav .icons .language {
    width: 25px;
    height: 25px;
    border: none;
    background: url("../assets/images/icons/earth.png") center center no-repeat content-box;
    background-size: 25px;
    margin-right: 20px;
  }
  .header .container .mobile-header .burger_btns .mobile-nav .icons .logIn {
    width: 25px;
    height: 25px;
    border: none;
    background: url("../assets/images/icons/logIn.png") center center no-repeat content-box;
    background-size: 25px;
  }
  .header .container .mobile-header .burger_btns .open-menu {
    vertical-align: middle;
    border: none;
    width: 25px;
    height: 25px;
    background: url("../assets/images/icons/burger.png") center center no-repeat;
    background-size: 25px;
  }
  .header .container .mobile-header .burger_btns .close-menu {
    vertical-align: middle;
    border: none;
    width: 25px;
    height: 25px;
    background: url("../assets/images/icons/close_btn.png") center center no-repeat;
    background-size: 25px;
    position: relative;
    z-index: 10;
  }
  footer .container {
    justify-content: space-between;
    padding: 20px;
  }
  footer .container nav {
    margin: 0;
  }
  footer .container nav a {
    font-size: 9px;
    padding: 5px;
  }
  footer .container .logo {
    margin-right: 0;
  }
  footer .container .logo a {
    font-size: 12px;
  }
  footer .container .logo a img {
    width: 25px;
    height: 25px;
  }
  footer .container .contacts {
    margin-right: 0;
  }
  footer .container .contacts a {
    font-size: 9px;
    padding: 5px;
  }
}
@media (max-width: 600px) {
  .header .container {
    display: block;
    margin: 0 auto;
    padding: 5px 0;
    -moz-column-gap: 0;
         column-gap: 0;
  }
  .header .container .head-nav {
    display: none;
  }
  .header .container .logo {
    display: none;
  }
  .header .container .header_right {
    display: none;
  }
  .header .container .mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
  .header .container .mobile-header .mobile-logo {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 5px 20px;
    background-color: rgb(177, 56, 28);
  }
  .header .container .mobile-header .mobile-logo a img {
    vertical-align: middle;
    width: 25px;
    height: 25px;
  }
  .header .container .mobile-header .brand {
    font-family: Antonio;
    color: white;
    font-size: 18px;
  }
  .header .container .mobile-header .burger_btns {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: rgb(177, 56, 28);
    padding: 7px 20px;
    position: relative;
  }
  .header .container .mobile-header .burger_btns .mobile-nav {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    font-family: Antonio;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
    background-color: rgb(177, 56, 28);
    align-items: flex-start;
    padding: 20px;
    padding-top: 40px;
  }
  .header .container .mobile-header .burger_btns .mobile-nav a {
    font-size: 15px;
  }
  .header .container .mobile-header .burger_btns .mobile-nav .icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    margin-top: 30px;
  }
  .header .container .mobile-header .burger_btns .mobile-nav .icons .language {
    width: 25px;
    height: 25px;
    border: none;
    background: url("../assets/images/icons/earth.png") center center no-repeat content-box;
    background-size: 25px;
    margin-right: 20px;
  }
  .header .container .mobile-header .burger_btns .mobile-nav .icons .logIn {
    width: 25px;
    height: 25px;
    border: none;
    background: url("../assets/images/icons/logIn.png") center center no-repeat content-box;
    background-size: 25px;
  }
  .header .container .mobile-header .burger_btns .open-menu {
    vertical-align: middle;
    border: none;
    width: 22px;
    height: 22px;
    background: url("../assets/images/icons/burger.png") center center no-repeat;
    background-size: 23px;
  }
  .header .container .mobile-header .burger_btns .close-menu {
    vertical-align: middle;
    border: none;
    width: 22px;
    height: 22px;
    background: url("../assets/images/icons/close_btn.png") center center no-repeat;
    background-size: 23px;
    position: relative;
    z-index: 10;
  }
  footer .container {
    justify-content: space-between;
    padding: 18px;
  }
  footer .container nav {
    margin: 0;
  }
  footer .container nav a {
    font-size: 8px;
    padding: 4px;
  }
  footer .container .logo {
    margin-right: 0;
  }
  footer .container .logo a {
    font-size: 12px;
  }
  footer .container .logo a img {
    width: 25px;
    height: 25px;
  }
  footer .container .contacts {
    margin-right: 0;
  }
  footer .container .contacts a {
    font-size: 8px;
    padding: 4px;
  }
}
@media (max-width: 480px) {
  .header .container {
    display: block;
    margin: 0 auto;
    padding: 7px 0;
    -moz-column-gap: 0;
         column-gap: 0;
  }
  .header .container .head-nav {
    display: none;
  }
  .header .container .logo {
    display: none;
  }
  .header .container .header_right {
    display: none;
  }
  .header .container .mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
  .header .container .mobile-header .mobile-logo {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 5px 15px;
    background-color: rgb(177, 56, 28);
  }
  .header .container .mobile-header .mobile-logo a img {
    vertical-align: middle;
    width: 30px;
    height: 30px;
  }
  .header .container .mobile-header .brand {
    font-family: Antonio;
    color: white;
    font-size: 24px;
  }
  .header .container .mobile-header .burger_btns {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: rgb(177, 56, 28);
    padding: 6px 15px;
    position: relative;
  }
  .header .container .mobile-header .burger_btns .mobile-nav {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    font-family: Antonio;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
    background-color: rgb(177, 56, 28);
    align-items: flex-start;
    padding: 20px;
    padding-top: 40px;
  }
  .header .container .mobile-header .burger_btns .mobile-nav a {
    font-size: 15px;
  }
  .header .container .mobile-header .burger_btns .mobile-nav .icons {
    margin-top: 30px;
  }
  .header .container .mobile-header .burger_btns .mobile-nav .icons .language {
    width: 25px;
    height: 25px;
    border: none;
    background: url("../assets/images/icons/earth.png") center center no-repeat content-box;
    background-size: 25px;
    margin-right: 20px;
  }
  .header .container .mobile-header .burger_btns .mobile-nav .icons .logIn {
    width: 25px;
    height: 25px;
    border: none;
    background: url("../assets/images/icons/logIn.png") center center no-repeat content-box;
    background-size: 25px;
  }
  .header .container .mobile-header .burger_btns .open-menu {
    vertical-align: middle;
    border: none;
    width: 30px;
    height: 30px;
    background: url("../assets/images/icons/burger.png") center center no-repeat;
    background-size: 28px;
  }
  .header .container .mobile-header .burger_btns .close-menu {
    vertical-align: middle;
    border: none;
    width: 30px;
    height: 30px;
    background: url("../assets/images/icons/close_btn.png") center center no-repeat;
    background-size: 28px;
    position: relative;
    z-index: 10;
  }
  footer .container {
    flex-direction: column;
    justify-content: space-between;
    padding: 18px;
  }
  footer .container nav {
    margin: 20px 0;
    justify-content: flex-start;
  }
  footer .container nav a {
    font-size: 12px;
    padding: 4px;
  }
  footer .container .logo {
    margin-right: 0;
  }
  footer .container .logo a {
    font-size: 16px;
  }
  footer .container .logo a img {
    width: 35px;
    height: 35px;
  }
  footer .container .contacts {
    margin-right: 0;
  }
  footer .container .contacts a {
    font-size: 12px;
    padding: 4px;
  }
}/*# sourceMappingURL=app.component.css.map */