<div class="container">
    <div class="promotext">
        <h1>Pizza</h1>
        <span class="span">Special</span><br><br>
        <h4>Lorem, ipsum dolor sit amet consectetur adipisicing</h4><br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit et est tenetur labore voluptatum rerum provident ipsa adipisci quaerat sapiente. Incidunt quidem, laboriosam minus officiis magni deserunt.</p>
        <br>
        <ul>
            <li><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate.</span></li>
            <li><span>Lorem ipsum dolor sit amet consectetur.</span></li>
            <li><span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, accusamus.</span></li>
        </ul>
        <br>
        <button>Lorem ipsum</button>
    </div>
    <div class="pizza-image">
        <div class="saleCircle">-10%</div>
        <div class="imgContainer">
            <img src="./assets/images/Jalapeno pizza.png" alt="Chicago">
        </div>
        <div class="buttons">
            <button (click)="prew()"></button>
            <button (click)="next()"></button>
        </div>
    </div>
</div>