* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 50px 0 60px 0;
  background-color: #191526;
  font-family: Antonio;
  font-size: 16px;
  color: white;
  display: flex;
  justify-content: center;
}
.container .promotext {
  max-width: 35vw;
  margin-left: 12vw;
  padding-right: 50px;
}
.container .promotext h1 {
  font-family: Antonio;
  font-size: 200px;
  color: white;
  line-height: 200px;
  padding-top: 20px;
}
.container .promotext .span {
  font-family: Charm;
  font-size: 85px;
  color: rgb(195, 39, 4);
  display: block;
  width: -moz-max-content;
  width: max-content;
  margin: -30px 0 20px 250px;
}
.container .promotext h4 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 20px;
}
.container .promotext p {
  font-size: 15px;
  color: rgba(220, 218, 218, 0.662);
  line-height: 20px;
  margin-bottom: 15px;
}
.container .promotext ul li {
  list-style-type: circle;
  color: red;
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 22px;
}
.container .promotext ul li span {
  font-size: 15px;
  color: rgba(220, 218, 218, 0.662);
}
.container .promotext button {
  font-size: 17px;
  text-transform: uppercase;
  padding: 14px 26px;
  border-radius: 12px;
  background-color: rgba(195, 39, 4, 0.15);
  color: rgba(220, 218, 218, 0.662);
  border: 2.5px solid rgb(195, 39, 4);
  margin-top: 20px;
  margin-bottom: 30px;
}
.container .pizza-image {
  width: 45vw;
  max-width: 660px;
  height: 100%;
  position: relative;
  z-index: 1;
}
.container .pizza-image .imgContainer {
  border-radius: 50%;
  background-color: #191526;
  margin: 15px 25px 45px 15px;
}
.container .pizza-image .imgContainer img {
  width: 105%;
  padding: 35px;
  border: 2px solid rgb(195, 39, 4);
  border-radius: 50%;
  background-color: rgba(195, 39, 4, 0.2);
}
.container .pizza-image .saleCircle {
  position: absolute;
  z-index: -10;
  font-family: Charm;
  color: rgb(177, 56, 28);
  font-size: 40px;
  width: 150px;
  height: 150px;
  border: 2px solid rgb(195, 39, 4);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .pizza-image .buttons {
  display: flex;
  justify-content: center;
}
.container .pizza-image .buttons button {
  padding: 20px 40px;
  border: none;
}
.container .pizza-image .buttons button:first-child {
  background: url(../../../assets/images/icons/arrowLeft.png) center center no-repeat, rgb(177, 56, 28);
  background-size: 20px 20px;
  margin-right: 20px;
  border-radius: 20px 0 0 20px;
}
.container .pizza-image .buttons button:nth-child(2) {
  background: url(../../../assets/images/icons/arrowRight.png) center center no-repeat, rgb(177, 56, 28);
  background-size: 20px 20px;
  border-radius: 0 20px 20px 0;
}

@media (max-width: 1440px) {
  .container {
    font-size: 14px;
  }
  .container .promotext {
    max-width: 37vw;
    padding-right: 40px;
    margin-left: vw;
  }
  .container .promotext h1 {
    font-size: 150px;
    line-height: 170px;
  }
  .container .promotext .span {
    font-size: 60px;
    margin: -30px 0 0 190px;
  }
  .container .promotext h4 {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .container .promotext p {
    font-size: 13px;
    margin-bottom: 0;
  }
  .container .promotext ul li {
    font-size: 18px;
    margin-bottom: 8px;
  }
  .container .promotext ul li span {
    font-size: 13px;
  }
  .container .promotext button {
    font-size: 14px;
    padding: 12px 24px;
  }
  .container .pizza-image {
    width: 40vw;
  }
  .container .pizza-image .imgContainer {
    margin: 15px 25px 25px 15px;
  }
  .container .pizza-image .saleCircle {
    font-size: 35px;
    width: 130px;
    height: 130px;
  }
  .container .pizza-image .buttons button {
    padding: 15px 29px;
  }
}
@media (max-width: 1280px) {
  .container {
    -moz-column-gap: 10px;
         column-gap: 10px;
    padding: 40px 0 40px 0;
  }
  .container .promotext {
    margin-left: 6vw;
    padding-right: 0;
  }
  .container .promotext h1 {
    font-size: 140px;
    line-height: 140px;
  }
  .container .promotext .span {
    font-size: 60px;
    margin: -20px 0 -10px 200px;
  }
  .container .promotext h4 {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .container .promotext p {
    font-size: 11.5px;
    margin-bottom: 0;
  }
  .container .promotext ul li {
    margin-bottom: 5px;
  }
  .container .promotext ul li span {
    font-size: 11.5px;
  }
  .container .promotext button {
    margin-top: 10px;
    font-size: 12px;
  }
  .container .pizza-image {
    min-width: 38vw;
  }
  .container .pizza-image .imgContainer {
    margin: 20px 20px 20px 20px;
  }
  .container .pizza-image .imgContainer img {
    min-width: 105%;
    padding: 25px;
  }
  .container .pizza-image .saleCircle {
    font-size: 30px;
    width: 120px;
    height: 120px;
  }
}
@media (max-width: 1152px) {
  .container {
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
  .container .promotext {
    max-width: 38vw;
    margin-left: 5vw;
  }
  .container .promotext h1 {
    font-size: 135px;
    line-height: 135px;
  }
  .container .promotext .span {
    font-size: 55px;
    margin: -20px 0 -10px 200px;
  }
  .container .promotext p {
    font-size: 11px;
  }
  .container .promotext ul li span {
    font-size: 11px;
  }
  .container .pizza-image {
    width: 42vw;
  }
}
@media (max-width: 1024px) {
  .container {
    -moz-column-gap: 0;
         column-gap: 0;
    padding: 25px 0 20px 0;
  }
  .container .promotext {
    margin-left: 0;
    padding-right: 0;
  }
  .container .promotext h1 {
    font-size: 7.5em;
    line-height: 100px;
  }
  .container .promotext .span {
    font-size: 3.5em;
    margin: -15px 0 -10px 135px;
  }
  .container .promotext h4 {
    font-size: 0.8em;
    margin-bottom: 0;
  }
  .container .promotext p {
    font-size: 0.6em;
    margin-bottom: 0;
    line-height: 14px;
  }
  .container .promotext ul li {
    margin-bottom: 0;
  }
  .container .promotext ul li span {
    font-size: 0.5em;
  }
  .container .promotext button {
    margin-top: 7px;
    font-size: 10px;
    padding: 10px 20px;
  }
  .container .pizza-image {
    width: 38vw;
    flex-grow: 0.3;
  }
  .container .pizza-image .imgContainer {
    margin: 20px 20px 20px 20px;
  }
  .container .pizza-image .imgContainer img {
    width: 105%;
    padding: 25px;
  }
  .container .pizza-image .saleCircle {
    font-size: 25px;
    width: 100px;
    height: 100px;
  }
  .container .pizza-image .buttons button {
    padding: 10px 20px;
  }
  .container .pizza-image .buttons button:first-child {
    background-size: 10px 10px;
    margin-right: 10px;
  }
  .container .pizza-image .buttons button:nth-child(2) {
    background-size: 10px 10px;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 20px;
  }
  .container .promotext {
    width: 40vw;
  }
  .container .promotext h1 {
    font-size: 7em;
    line-height: 100px;
  }
  .container .promotext .span {
    font-size: 3em;
    margin: -15px 0 -10px 120px;
  }
  .container .promotext h4 {
    font-size: 0.67em;
    margin-bottom: 0;
  }
  .container .promotext p {
    font-size: 0.6em;
    margin-bottom: 0;
    line-height: 14px;
  }
  .container .promotext ul li {
    font-size: 0.8em;
    margin: 0;
    margin-left: 15px;
  }
  .container .promotext ul li span {
    font-size: 0.7em;
  }
  .container .promotext button {
    font-size: 9px;
    padding: 8px 16px;
    margin: 0;
  }
  .container .pizza-image {
    width: 35vw;
    margin: 15px 0 0 10px;
  }
  .container .pizza-image .imgContainer {
    align-content: flex-end;
    margin: 10px 10px 10px 10px;
  }
  .container .pizza-image .imgContainer img {
    padding: 15px;
    width: 100%;
    height: 100%;
  }
  .container .pizza-image .saleCircle {
    font-size: 20px;
    width: 80px;
    height: 80px;
  }
  .container .pizza-image .buttons {
    margin-bottom: 20px;
  }
  .container .pizza-image .buttons button {
    padding: 10px 20px;
  }
  .container .pizza-image .buttons button:first-child {
    background-size: 10px 10px;
    margin-right: 10px;
  }
  .container .pizza-image .buttons button:nth-child(2) {
    background-size: 10px 10px;
  }
}/*# sourceMappingURL=head-page.component.css.map */